/*----------------------Обнуление----------------------*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}

*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}
/*----------------------Обнуление----------------------*/

:root{
  --color-melon: #d49082;
  --color-background: #f8f2f2;
  --color-text: #363331;
  --font-title:  'Roboto', sans-serif;
}

body{
  font-family: var(--font-title);
  background-color: var(--color-background);
}

a{
  color: var(--color-text);
  transition: 0.3s ease;
  &:hover{
    color: var(--color-melon);
    transition: 0.3s ease;
  }
}

.header__container{
  width: 100%;
  height: 80px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  &::before{
    content: '';
    display: block;
    position: relative;
    top: 38px;
    width: 100%;
    height: 2px;
    background-color: var(--color-melon);
    transition: 0.5s ease;
  }
  a{
    font-weight: 300;
    font-size: 30px;
    color: var(--color-text);
    transition: 0.3s ease;
    &:hover{
      color: var(--color-text);
      transition: 0.3s ease;
    }
  }
}

.header__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 20px;
}

.header__link{
  &::before{
    content: '';
    display: block;
    position: relative;
    top: 18px;
    width: 0%;
    height: 1px;
    background-color: var(--color-melon);
    transition: 0.5s ease;
  }
  &:hover{
    &::before{
      transition: 0.5s ease;
      width: 100%;
    }
  }
  a{
    text-transform: uppercase;
    font-family: var(--font-title);
    font-weight: 400;
    letter-spacing: 1px;
  }
}

//------------main------------

/*Тело слайдера*/
.slider{
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 350px;
  margin-bottom: 15px;
  overflow: hidden;
}

.item__container{
  position: relative;
  align-items: center;
  justify-content: center;
}
/* Картинка маштабируется по отношению к родительскому элементу */
.item{
  width: 100%;
  position: absolute;
  z-index: 0;
  margin-left: 100%;
  transition: 1.3s;
  img {
    object-fit: cover;
    //aspect-ratio: 16 / 9;
    width: 100%;
    height: 650px;
  }
}
.item.slid-index{
  transition: 1.0s;
  margin-left: 0;
  z-index: 5;
}
/* Кнопки вперед и назад */
.prev-btn, .next-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 0%;
  width: 15%;
  height: 100%;
  color: transparent;
  font-size: 35px;
  transition: 0.6s ease;
  z-index: 15;
  &:hover{
    background-color: #fff5f56b;
    color: var(--color-background);
  }
}
.next-btn {
  right: 0;
}

/* Анимация слайдов */
.item.slid-index{
  animation-name: fade;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-direction: normal;
}

@keyframes fade {
  0% {opacity: 0;}
  100%{opacity: 1;}
}

.section__text{
  max-width: 1400px;
  margin: 0 auto;
}

.container__text-main{
  width: 50%;
  margin: 40px auto;
  color: var(--color-text);
  h2{
    font-weight: 300;
    font-size: 25px;
    text-align: center;
  }
  p{
    margin: 20px 0 0 0;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: center;
    line-height: 30px;
  }
}

.main__title{
  margin: 20px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  h2{
    display: inline-block;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 0 15px;
    background: var(--color-background);
    color: var(--color-text);
    &::after,
    &::before{
      content: '';
      display: block;
      position: absolute;
      background-color: var(--color-melon);
      width: 50%;
      height: 2px;
      top: 50%;
      z-index: -1;
    }
    &::after{
      left: 50%;
    }
    &::before{
      right: 50%;
    }
  }
}

.section__gallery{
  max-width: 1400px;
  margin: 20px auto;
}


.gallery__items-list{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}
.gallery__item-link{
  display: block;
  &:hover{
    color: var(--color-text);
  }
}

.gallery__item{
  position: relative;
  cursor: pointer;
  transition: 0.4s ease;
  &:hover{
    transform: scale(1.03);
    transition: 0.4s ease;
    .gallery__item-modal{
      opacity: 1;
      height: 10%;
      transition: 0.4s ease;
      h3{
        display: block;
        transition: 0.4s ease;
        letter-spacing: 1.0px;
      }
    }
  }
  &:active{
    transform: scale(0.99);
    transition: 0.4s ease;
  }
}

.gallery__img{
  object-fit: cover;
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 300px;
}

.gallery__item-modal{
  width: 100%;
  height: 0;
  background-color: #f8f2f2a6;
  bottom: 0;
  position: absolute;
  opacity: 0;
  transition: 0.4s ease;
  border-top: 2px solid var(--color-melon);
  h3{
    display: none;
    margin: 6px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.4s ease;
  }
}


//----------footer------------
footer{
  border-top: 2px solid var(--color-melon);
}

.footer__container{
  max-width: 1400px;
  height: 100%;
  padding: 30px 0 15px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction:column;
}

.footer__menu{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 20%;
}

.sitemap__menu{
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.sitemap__link{
  &::before{
    content: '';
    display: block;
    position: relative;
    top: 18px;
    width: 0%;
    height: 1px;
    background-color: var(--color-melon);
    transition: 0.5s ease;
  }
  &:hover{
    &::before{
      transition: 0.5s ease;
      width: 100%;
    }
  }
  a{
    text-transform: uppercase;
    font-family: var(--font-title);
    font-weight: 400;
    letter-spacing: 1px;
  }
}

.footer__menu-item{
  width: 180px;
}

.footer__contacts{
  display: flex;
  align-items: center;
  flex-direction:column;
}

.footer__mail,
.footer__phone{
  margin: 8px 0;
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
    &::before{
      content: '';
      display: block;
      position: relative;
      top: 18px;
      width: 0%;
      height: 1px;
      background-color: var(--color-melon);
      transition: 0.5s ease;
    }
    &:hover{
      &::before{
        transition: 0.5s ease;
        width: 100%;
      }
    }
  }


.footer__social-list{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0 20px;
}

.footer__social-item{
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-background);
  border-radius: 50%;
  transition: 0.5s ease;
  &:hover{
    border: 2px solid var(--color-melon);
    transition: 0.5s ease;
    .footer-inst,
    .footer-teleg{
      filter: brightness(0) saturate(100%) invert(85%) sepia(24%) saturate(3776%) hue-rotate(306deg) brightness(102%) contrast(67%);
      transition: 0.5s ease;
    }
  }
}
  .footer-inst,
  .footer-teleg{
  display: block;
  width: 35px;
  height: 35px;
  filter: brightness(0) saturate(100%) invert(7%) sepia(2%) saturate(3887%) hue-rotate(340deg) brightness(103%) contrast(70%);
  background-image: url(../../../assets/svg/icon-instagram.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  transition: 0.5s ease;
}
.footer-teleg{
  background-image: url(../../../assets/svg/icon-telegram.svg);
}



.footer__copirate{
  margin: 20px 0 0 0;
  span{
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
  }
}

.footer__dev-info{
  margin: 20px 0 0 0;
  a{
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
  }
}

@media (max-width: 1439px){
  .main__title{
    margin: 20px;
  }
  .gallery__container{
    margin: 0 20px;
  }
  .footer__menu{
    padding: 0 20px;
  }
}

@media (max-width: 1023px){
  .gallery__items-list{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .gallery__item-modal{
    opacity: 1;
    height: 10%;
    transition: 0.4s ease;
    h3{
      display: block;
      transition: 0.4s ease;
    }
  }
  .footer__menu{
    flex-direction:column;
    gap: 25px 0;
  }
  .sitemap__menu{
    justify-content: center;
  }
  .footer__social-list{
    justify-content: center;
  }
}

@media (max-width: 767px){
  .header__container{
    flex-direction:column;
    margin: 20px 0;
  }
  .gallery__items-list{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}